<section id="home-about-me">
<div class="header">
  <span class='title'>about me</span>
  <a href="/about/"><img src='/images/Right.png' /></a>
</div>

<div class="louis">
  <div class="left-half-text">
    This is me, Louis Salin. I'm a software developer in Austin, Texas.
  </div>

  <div class="pic">
    <img src="/images/me.jpg" />
  </div>
</div>

<div class="work">
  <img src='/images/Oracle-logo.png' />
  <div class='text'>
    <span>Principal software developer</span>
    <span>Cloud Social Platform</span>
  </div>
</div>
</section>
